
  <%= image_tag @cart.image.url(:medium) %>
</div>
<%= form_for @cart_part do |f| %>


  <div class="text-center">
     <label>Enter a Part:</label> 
     <%= f.text_field :part, list: "parts_autocomplete" %>
      <datalist id="parts_autocomplete">
        <%= Part.all.each do |part| %>
          <option value="<%= part.description %>">
        <% end %>
      </datalist>
    

    <input type="hidden" name="cart_id" value="<%= @cart.id %>" %>
    <%= f.submit 'Add Part', :class => 'btn btn-primary'  %>
  </div>


<% end %>