
  <%= form_for [@category, @part], html: { multipart: true}, role: "form" do |f| %>
  
    <div class ="form-group container">

      <%= f.label :description %>
      <%= f.text_field :description, :class => 'form-control' %>

      <br>
      <%= f.label :image %>
      <%= f.file_field :image, :class => 'btn form-control' %>

      <%= f.hidden_field :category_id %>
      <br>
      <%= f.label :price %>
      <%= f.number_field :price, :class => 'form-control' %>
      <br>
      <div class = 'text-center'>
        <%= f.submit nil, :class => 'btn btn-primary'  %>
      </div>
    </div>


  <% end %>



