<a href="/categories/<%= @part.category.id %>">
<div>
  Return to Category
</div>
</a>

<%= render partial: 'admin_options', locals: {:@category => @category, :@part => @part } %>

<div class = 'text-center'>
  <h2><%= @part.description %></h2>

  <img src=<%= @part.image.url %>>
  <div>
    <h3>MSRP: <%= number_to_currency(@part.price) %></h3>
  </div>
</div>