<div class="text-center centerBlock">
  <%= link_to 'Back to Users', users_path %>
  <table class = "table table-bordered">
    <caption class="text-center"><%= @user.email %> Info
    </caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Contact Time</th>
        <th>Number of Requests</th>
      <tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @user.name %></td>
        <td><%= @user.phone %></td>
        <td><%= @user.contact_time %></td>
        <td><%= @user.orders.count %></td>
      </tr>
    </tbody>
  </table>


    <h4 class="text-center"><%= @user.email %> Request History</h2>
      <% @user.orders.each do |order| %>
        <tr><a href="/orders/<%= order.id %>" class="href">
          <%= order.created_at.to_formatted_s(:long_ordinal) %>
        </a></tr>
      <% end %>
</div>