<div class="text-center centerBlock">
  <%= link_to 'Back to Users', users_path %>
  <table class = "table table-bordered">
    <caption><%= @user.email %></a>
    </caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Contact Time</th>
        <th>Request History</th>
      <tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @user.name %></td>
        <td><%= @user.phone %></td>
        <td><%= @user.contact_time %></td>
        <td>User Requests:</td>
      </tr>
      <tr>
          <% @user.orders.each do |order| %>
            <td> </td>
            <td></td>
            <td></td>
            <td><a href="/orders/<%= order.id %>" class="href">
              <%= order.created_at.to_formatted_s(:long_ordinal) %>
            </a></td>
          <% end %>
      </tr>
    </tbody>
  </table>
</div>