  <%= form_for @cart, remote: true, authenticity_token: true, html: { multipart: true, data: {id: @cart.id}}, role: "form" do |f| %>
  
    <div class ="form-group container js-updateCart">

      <%= f.label :comments %>
      <%= f.text_field :comments, :class => 'form-control' %>

      <br>
      <%= f.label :image %>
      <%= f.file_field :image, :class => 'btn form-control' %>

      <%= f.hidden_field :user_id %>
      <br>
      <%= f.label :price %>
      <%= f.number_field :price, :class => 'form-control' %>
      <br>
      <div class = 'text-center'>
        <%= f.submit nil, :class => 'btn btn-success', data: {id: @cart.id}  %>
      </div>
    </div>


  <% end %>
