
<% @carts.each do |cart| %>

  <div class="col-xs-6 col-sm-3 thumbnail cart">

    <div class="row">
      <%= link_to "Edit/Delete Cart", cart_path(cart) %>
    </div>


    <div class="cart_comments col-xs-12 row">
      <%= cart.comments %>
    </div>
    
      <img src="<%= cart.image.url %>" alt="<%= cart.comments %>" class="<%= 'rotate' unless dont_rotate(cart) %>"/>

    <div class="row">    
      <%= button_to 'View This Cart', cart_path(cart),{class: 'btn btn-primary', method: :get}  %>
    </div>
  </div>

<% end %>
