 <% if !@cart.parts.empty? %>
  <h1 class= "text-center">My Cart</h1>

  <h2><%= @cart.comments %></h2>

  <div class="text-center">
    <% if current_user.name %>
      <%= render 'submit_quote_button' %>
    <% else %>
      <%= render 'add_info_button' %>
    <% end %>
  </div>

  <div class='text-center'>
    <h2>Parts</h2>
    <%= button_to 'Browse Catalog', categories_path, {class: 'btn btn-success', method: :get} %>
  </div>

  <% @cart.parts.each do |part| %>

    
    <div class="col-xs-6 col-sm-4 thumbnail text-center">
      <img src=<%= part.image.url %> alt="">

      <h4>Description</h4>
        <%= part.description %>
      
      <h4>My Comments</h4>
        <%= current_part(part).comments %>
      <div class="row">
        <%= button_to 'Update Comment/Question for this Part', edit_cart_part_path(current_part(part)), {class: 'btn btn-success', method: :get} %>
      </div>
      <div class="row">
        <%= button_to 'Remove From Cart', cart_part_path(current_part(part)), {method: :delete, class: 'btn btn-warning', data: {confirm: "Are you sure?"}} %>
      </div>

    </div>


    
  <% end %>

<% else %>
  <div class="text-center">
    <h1>Your Cart is Empty</h1>
      <%= button_to 'Browse Catalog to Add Parts', categories_path, {class: 'btn btn-success', method: :get} %>
  </div>
<% end %>
