 <% if @cart %>
  <h1 class= "text-center">My Cart</h1>

  <div class= "col-sm-12">
    <img class="img-responsive col-sm-6 col-sm-offset-3 <%= 'rotate' unless dont_rotate(@cart) %>" src=<%= @cart.image.url %> alt="">
  </div>

  <h2><%= @cart.comments %></h2>

  <div class="text-center">
    <%= button_to 'Get A Quote / Request Info', checkout_path, {class: 'btn btn-primary'} %>
  </div>


  <h2 class="text-center">Parts</h2>

  <% @cart.parts.each do |part| %>

    <!-- <a href="<%= category_part_path(part.category, part) %>"> -->
      <div class="col-xs-6 col-sm-4 thumbnail">
        <img src=<%= part.image.url %> alt="">
        <%= part.description %>
      </div>
<!--     </a> -->
    
  <% end %>

<% else %>
  <h1>Your Cart is Empty</h1>
<% end %>
