<div class="text-center">
  <% if current_user && current_user.admin %>
    <div>
    <%= link_to "Edit/Delete Cart", edit_cart_path(@cart) %>
    </div>
  <% end %>

      <img src=<%= @cart.image.url(:medium) %> alt="">

      <h4><%= @cart.comments %></h4>
      <h3>Cart Price: <%= number_to_currency(@cart.price) %></h3>

  <div>
    <h2>Parts On This Cart</h2>
  </div>

  <% if current_user && current_user.admin %>
    <div>
      <%= button_to "Add Parts", add_part_path(@cart), {class: 'btn btn-info', method: :get} %>
    </div>
  <% end %>

  <% @cart.parts.each do |part| %>
    <div class="col-xs-6 thumbnail">
      <a href="<%= category_part_path(part.category, part) %>">
        <img src=<%= part.image.url %> alt="">
      </a>
      <h3><%= part.description %></h3>

      <div class="col-xs-12">
        <%= button_to 'Add to My Cart', add_to_my_cart_path(part_id: part), {class: 'btn btn-info'} %>
      </div>
    </div>
    
  <% end %>
</div>

