


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide centered" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active pickgradient">
          <img class="first-slide" src=<%= image_path("slide1.jpg") %> alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Custom Carts</h1>
              <p> We understand that every cart needs to be as unique as the owner is, and we specialize in helping you find and create your perfect cart. </p>
              <p><a class="btn btn-lg btn-primary" href="/carts" role="button">View Our Warehouse</a></p>
            </div>
          </div>
        </div>
        <div class="item pickgradient">
          <img class="second-slide" src=<%= image_path("slide2.jpg") %> alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Build Your Own</h1>
              <p>Do you have a design in mind that you don't see in our shop? No problem! Just take a look at our product catalogs and tell us what your looking for. We promise to have a Cart to fit your needs and personality. <%= link_to 'Sign In',new_user_session_path %> to start building your own cart!</p>
              <p><a class="btn btn-lg btn-primary" href="/categories" role="button">View Our Catalog</a></p>
            </div>
          </div>
        </div>
        <div class="item pickgradient">
          <img class="third-slide" src=<%= image_path("slide3.jpg") %> alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Repairs/Financing Available!</h1>
              <p>In addition to Cart Design, We also offer Cart Repairs at our store location. And if you need financing, don't worry we've got you covered!</p>
              <p><a class="btn btn-lg btn-primary" href="/contacts" role="button">Drop Us a Line</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle rotate" src="<%= image_path 'redcart.jpg' %>" alt="Red Cart" width="140" height="140">
          <h2>Custom Cart Design</h2>
            <p><%= link_to 'Sign Up', new_user_session_path %> or <%= link_to 'Log In', new_user_registration_path %> to browse our Catalog and start building your own cart!
            </p>
          <p><a class="btn btn-default" href="/mycart" role="button">Build My Cart &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle rotate" src="<%= image_path 'bluecart.jpg' %>" alt="Blue Cart" width="140" height="140">
          <h2>In-House Repairs</h2>
          <p>Contact us for all of your repair needs.</p>
          <p><a class="btn btn-default" href="/contacts" role="button">Contact Us &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle rotate" src="<%= image_path 'yellowcart.jpg' %>" width="140" height="140">
          <h2>Finance Buying Options</h2>
          <p>Drop us a line and we can talk about financing options.</p>
          <p><a class="btn btn-default" href="/contacts" role="button">Say Hello &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Your Cart. <span class="text-muted">Your Way.</span></h2>
          <p class="lead">At Cart Kings, we love Custom Builds. Take a look in our Cart Shop to see how we've built out many Top Quality Carts for our customers, but the creative possibilies are endless. Do you have a design in mind that you don't see in our shop? No problem! Just <a href="/users/sign_in">Log In</a> to take a look at our <a href="/categories">Product Catalog</a> and start building your cart right now! We promise to have a Cart to fit your needs and personality. </p>
        </div>
        <div class="col-md-5">
<!--           <img class="featurette-image img-responsive center-block" src="" alt="Silver Cart"> -->
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5" id="about">
          <h2 class="featurette-heading"><a name="about">About Us</a> <span class="text-muted"></span></h2>
          <p class="lead">Cart Kings was created to fill a need for the Personalization of Cart vehicles in the Southern Gulf States. We understand that every cart needs to be as unique as the owner is, and we specialize in helping you find and create your perfect cart. We have some great deals this month!

Give Us a Call today to find out more! 985-791-4433 Or fill out our <a href="/contacts">Contact Form</a> and we'll get back with you within the day.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
<!--           <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Build Your Own Cart. <span class="text-muted">Right Now.</span></h2>
          <p class="lead"><a href="/users/sign_in">Sign In</a> to browse our extensive catalog of products and start building your own cart right now! Send us what you want, whether it's just parts or a whole cart, and we'll get back to you with a quote or more information.</p>
        </div>
        <div class="col-md-5">
<!--           <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Cart Kings, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->